


<h2>Bird </h2>

<div *ngFor="let bird of Fishes" class="fi">
    <div id="on"><img [src]="bird.img_url" alt="{{ bird.img_url }} Image" style="width: 300px;  border-left-width: 50px; "> <br>
   
   <div class="fish-card">

    <div>
     <h3>{{ bird.name }}</h3><br>
   </div>

  <div>
    <p>Type: {{ bird.petType }}</p><br>
  </div>

  <div>
    <label><h3>Fact:</h3></label>
    <p *ngFor="let sentence of bird.fact.split('.'); let i = index">
      {{ sentence }}{{ i < bird.fact.split('.').length - 1 ? '.' : '' }}<br>
  </div>

  <div class="form-group">
 
    <textarea
      class="form-control"
      id="comment" placeholder="Type your comment here..."
    ></textarea>
  </div>
<br>

   <div class="heart-btn">
      <input class="checkbox" type="checkbox"/>
      <button class="style-btn"><span>Like</span></button><br>
    </div>

   
   </div>
  
</div>

</div>

