/* Add your specific styles for the container, background, etc. */
.login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .sin {
    text-align: center;
    
  }
  
  .cat img {
    border-radius: 30%;
    margin-bottom: 20px;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
  }
  
  button {
    width: 100%;
    padding: 10px;
  }
  
  p {
    margin-top: 20px;
  }
  
  