/* .container {
    max-width: 400px;
    margin: auto;
  } */
  
  form {
    display: flex;
    flex-direction: column;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-weight: bold;
  }
  
  .input-error {
    color: #dc3545;
    margin-top: 5px;
  }

  /* pet.component.css */

.container {
  max-width: 600px;
  margin: auto;
  margin-top: 150px;
}

form {
  background-color: #f8f9fa;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(106, 105, 105, 0.1);
}

.form-row {
  display: flex;
  justify-content: space-between;
}

.form-group {
  margin-bottom: 15px;
}

label {
  font-weight: bold;
}

.btn-primary {
  background-color: #9d9e9f;
  border-color: #959faa;
}

.btn-primary:hover {
  background-color: #eff1f4;
  border-color: #8e9195;
}




/* here */
/* Add these styles to your global styles.css or component-specific styles file */

.search-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.mat-form-field {
  margin-right: 10px;
  width: 300px; /* Adjust the width as needed */
}

.mat-input-element {
  color: #333; /* Text color */
}

.mat-form-field-underline {
  color: #2196F3; /* Change the underline color */
}

.mat-form-field-label {
  color: #2196F3; /* Change the label color */
}

.mat-form-field-ripple {
  color: #2196F3; /* Change the ripple color */
}

/* Button styles */
button {
  cursor: pointer;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #1565C0; /* Change the hover background color */
  color: #fff; /* Change the hover text color */
}

/* Primary button styles */
button.primary {
  background-color: #2196F3;
  color: #fff;
}

button.primary:hover {
  background-color: #1565C0;
}

/* Warn button styles (for delete button, for example) */
button.warn {
  background-color: #FF5252;
  color: #fff;
}

button.warn:hover {
  background-color: #D32F2F;
}


