


   <h1 > Pet care</h1>
   <h1> what you need to know about pets</h1>

<br>
<br>
 <div class="ppp">
       <div class="bird1">
          <img src="../../../assets/hummingbird.gif" width="200px " height="200px">
          <a routerLink="Bird"><h3>Birde</h3></a>
      </div>

     <div class="fish1">
         <img src="../../../assets/fish.gif" width="200px" height="200px" >
     
        <a routerLink="Fish" ><h3>Fish</h3></a>
     </div>

       <div class="mammals1">
         <img src="../../../assets/cat.gif" width="200px" height="200px">
         <a routerLink="Mammals"><h3>Mammals</h3></a>
      </div>
 </div>