


<div class="conatiner">
  <h2 class="" style="margin-bottom: 20px;">𓃦 𓃮 𓃔  Mammals  𓃦 𓃮 𓃔</h2>
  <div class="row">
    <div class=" d-flex flex-wrap ">
      <div *ngFor="let mammals of pet;let i = index" class="col-sm-4 mb-4  " >
        <div class="card" style="width: 400px">
          <img [src]="mammals.img_url" class="card-img-top mt-1 px-1 borderd" alt="{{ mammals.name }} Image" style="height: 200px; object-fit: cover;">
        
          <div class="card-body">
            <h5 class="card-title">{{ mammals.name }}</h5>
            <div *ngIf="factsVisibility[i]">
            <p class="card-text">Type: {{ mammals.petType }}</p>
            
             <ng-container *ngIf="mammals.fact">
              <label><h3>Fact:</h3></label>
              <p *ngFor="let sentence of mammals.fact.split('.'); let i = index">
                {{ sentence }}{{ i < mammals.fact.split('.').length - 1 ? '.' : '' }}
              </p>
              </ng-container>

               <div class="form-group">
                  <textarea
                    class="form-control"
                    id="comment"
                    [(ngModel)]="newCommentText"
                    placeholder="Type your comment here...">
                  </textarea>
                </div>
                <br>
                <div class="heart-btn">
                  <input class="checkbox" type="checkbox"/>
                  <button class="style-btn mb-2"><span>Like</span></button>
              
                </div>
              </div>
              <button class="btn btn-dark mt-2" (click)="changevalue(i)">
                {{ factsVisibility[i] ? 'Hide' : 'Show Fact' }}
              </button>
                
                <br>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>




<!-- <div *ngFor="let mammals of Fishes" class="fi">
  <div id="on"><img [src]="mammals.img_url" alt="{{ mammals.name }} Image" style="width: 300px;  border-left-width: 50px; "> </div>

  <div class="fish-card">
    <h3>{{ mammals.name }}</h3>
    <br>
    <p>Type: {{ mammals.petType }}</p>
    <br>
    <label><h3>Fact:</h3></label>
    <p *ngFor="let sentence of mammals.fact.split('.'); let i = index">
      {{ sentence }}{{ i < mammals.fact.split('.').length - 1 ? '.' : '' }}
    
  <br>
  <div class="form-group">
 
    <textarea
      class="form-control"
      id="comment"
      [(ngModel)]="newCommentText"
      placeholder="Type your comment here..."
    ></textarea>
  </div>
 <br>
    <div class="hear-btn">
      <input class="checkbox" type="checkbox"/>
      <button class="styl-btn"><span>Like</span></button>
    </div>
  <br>
 
<br>
  </div>
</div> -->

